@font-face {
	font-family:'ptc_bold';
	src:url('../fonts/ptc75f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptc75f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptc75f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptc75f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}
	
@font-face {
	font-family:'ptc_regular';
	src:url('../fonts/ptc55f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptc55f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptc55f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptc55f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}
	
@font-face {
	font-family:'ptn_regular';
	src:url('../fonts/ptn57f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptn57f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptn57f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptn57f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}


@font-face {
	font-family:'ptn_bold';
	src:url('../fonts/ptn77f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptn77f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptn77f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptn77f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}


@font-face {
	font-family:'pt_italic';
	src:url('../fonts/pts56f.eot')/***css-loader:: can't load recource***/;
	src:url('../pts56f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/pts56f.woff') format('woff'),
		url('../fonts/pts56f.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}


@font-face {
	font-family:'pt_boldit';
	src:url('../fonts/pts76f.eot')/***css-loader:: can't load recource***/;
	src:url('../pts76f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/pts76f.woff') format('woff'),
		url('../fonts/pts76f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pt_bold';
	src:url('../fonts/pts75f.eot')/***css-loader:: can't load recource***/;
	src:url('../pts75f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/pts75f.woff') format('woff'),
		url('../fonts/pts75f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pt_regular';
	src:url('../fonts/pts55f.eot')/***css-loader:: can't load recource***/;
	src:url('../pts55f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/pts55f.woff') format('woff'),
		url('../fonts/pts55f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pts_regular';
	src:url('../fonts/ptf55f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptf55f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptf55f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptf55f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pts_italic';
	src:url('../fonts/ptf56f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptf56f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptf56f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptf56f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pts_bold';
	src:url('../fonts/ptf75f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptf75f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptf75f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptf75f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'pts_boldit';
	src:url('../fonts/ptf76f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptf76f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptf76f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptf76f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'ptsc_regular';
	src:url('../fonts/ptz55f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptz55f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptz55f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptz55f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'ptsc_italic';
	src:url('../fonts/ptz56f.eot')/***css-loader:: can't load recource***/;
	src:url('../ptz56f.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/ptz56f.woff')/***css-loader:: can't load recource***/ format('woff'),
		url('../fonts/ptz56f.ttf')/***css-loader:: can't load recource***/ format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'din_light';
	src:url('../fonts/PFDinTextCondPro-Light.eot')/***css-loader:: can't load recource***/;
	src:url('../PFDinTextCondPro-Light.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/PFDinTextCondPro-Light.woff') format('woff'),
		url('../fonts/PFDinTextCondPro-Light.ttf')/***css-loader:: can't load recource***/ format('truetype'),
		url('../fonts/PFDinTextCondPro-Light.svg#din_light')/***css-loader:: can't load recource***/ format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'din_bold';
	src:url('../fonts/pfdintextcondpro-bold-webfont.eot')/***css-loader:: can't load recource***/;
	src:url('../pfdintextcondpro-bold-webfont.eot%40#iefix')/***css-loader:: can't load recource***/ format('embedded-opentype'),
		url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
		url('../fonts/pfdintextcondpro-bold-webfont.ttf')/***css-loader:: can't load recource***/ format('truetype'),
		url('../fonts/pfdintextcondpro-bold-webfont.svg#din_bold')/***css-loader:: can't load recource***/ format('svg');
	font-weight:normal;
	font-style:normal;
}