* {
	margin:0;
	padding:0;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	-webkit-text-size-adjust:none;
}

body {
	font-size:16px;
	line-height: 1;
	color:#3b3b3b;
	font-family:'pt_regular';
	background:#fff url(../images/main.jpg) no-repeat center top;
}

b {
	font-family:'pt_bold';
	font-weight:normal;
}

em {
	font-style:normal;
}

a {
	text-decoration:none;
	color:inherit;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

p {
	margin:0;
	padding:0;
}

.wrap {
	width:980px;
	margin:0 auto;
}

.page {
	position:relative;
	width:100%;
	max-width:100%;
	min-width:960px;
	overflow:hidden;
	margin:0 auto;
}

.clear {
	clear:both;
}

header {
	height:110px;
	border-top:#fff solid 2px;
	background:rgba(255,255,255,0.85);
}

.logo {
	width:379px;
	height:71px;
	background:url(../images/logo.png) no-repeat center;
	float:left;
	margin:26px 0 0 10px;
}

.t_phone {
	width:420px;
	float:right;
	font-size:36px;
	line-height:30px;
	color:#095892;
	font-family:'pt_bold';
	text-align:right;
	margin:33px 0px 0 0;
}

.t_phone a.mc {
	display:inline-block;
	width:171px;
	height:40px;
	background:url(../images/mc.png) no-repeat center;
	font-size:18px;
	line-height:28px;
	text-align:center;
	color:#fff;
	text-shadow:0px 1px 0px #b97b02;
	font-family:'pt_regular';
}

.t_phone a.mc:hover {
	color:#661616;
}

.main {
	height:760px;
}

.main .wrap {
	height:760px;
	position:relative;
	text-align:center;
}

h1 {
	position:absolute;
	width:960px;
	font-size:39px;
	font-family:'pt_bold';
	line-height:45px;
	color:#206ea5;
	text-transform:uppercase;
	text-shadow:0px 1px 1px #fff;
	top:63px;
	letter-spacing:2px;
}

h1 em {
	color:#1a689f;
}

h1 span {
	display:block;
	font-size:22px;
	line-height:24px;
	color:#0a5286;
	font-family:'pt_regular';
}

h1.h1_2 {
	top:65px;
	color:#0d64a1;
}

h1.h1_2 span {
	margin-top:15px;
}

.first_timer {
	font-size: 21px !important;
	line-height: 20px !important;
}

.timer_block {
	width:300px;
	position:absolute;
	height:186px;
	padding-top:15px;
	border-radius:15px 15px 0 0;
	background:rgba(255,255,255,0.80);
	right:10px;
	top:194px;
	font-size:26px;
	line-height:27px;
	text-shadow:0px 1px 1px #fff;
	color:#000;
}

.timer_block span {
	display:block;
	text-transform:uppercase;
	font-size:26px;
	line-height:26px;
	color:#065c99;
	font-family:'pt_bold';
	margin-bottom:3px;
}

.timer {
	margin:5px 0 0px 10px;
	width:280px; 
	height:84px; 
	background:url(../images/timer.png) no-repeat center;
	position:relative; 
}

.timer .container { 
	width: 254px;
	position:relative;
	height: 58px; 
	top: 3px;
	left: 11px;
}

.timer .container div {
	height: 58px; 
	width: 58px; 
	float: left; 
	text-align:center!important; 
	position:relative;
	letter-spacing:-2px;
}

.days {
	margin-right:8px;
}

.hours {
	margin-right:7px;
}

.minutes {
	margin-right:7px;
}

.timer .container div span {
	display:inline;
	font-size: 44px;
	color:#585858;
	font-family:'din_bold';
	line-height: 58px;
}


.timer .container .second6Play, .timer .container .secondPlay {
	color:#cc180a;
}

.timer .container em {
	position: absolute;
	font-size:16px;
	bottom: -22px;
	text-align: center!important;
	width: 58px;
	display:block;
	color:#3c3c3c;
	font-family:'pt_regular';
	letter-spacing:0;
}


.order_block {
	width:300px;
	position:absolute;
	
  height:248px;
	padding-top:15px;
	border-radius:0 0 15px 15px;
	background:rgba(255,255,255,0.80);
	right:10px;
	top:404px;
	font-size:17px;
	line-height:20px;
	text-shadow:0px 1px 1px #fff;
	color:#000;
}

.order_block.first_order {
	top: 395px;
	padding-top: 0px;
}

.order_block span {
	display:block;
	text-transform:uppercase;
	font-size:26px;
	line-height:26px;
	color:#065c99;
	font-family:'pt_bold';
	margin-bottom:3px;
}

input[type="text"] {
	width:213px;
	height:40px;
	border:#cab9ba solid 1px;
	box-shadow:0px 1px 0px #fff;
	margin-bottom:10px;
	background:#fff;
	padding:0 10px 0 35px;
	font-size:18px;
	color:#3b3b3b;
	font-family:'pt_regular';
}

input.input_name {
	background:#fff url(../images/input_name.png) no-repeat 11px;
}

input.input_phone {
	background:#fff url(../images/input_phone.png) no-repeat 9px;
}

input.input_email {
	background:#fff url(../images/input_email.png) no-repeat 11px;
}

input.bttn {
	width:274px;
	height:60px;
	line-height:55px;
	background:url(../images/bttn.png) no-repeat 0px 0px;
	box-shadow:none;
	border:none;
	padding:0;
	font-size:22px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0px 1px 0px #a86f05;
	cursor:pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

input.bttn:hover {
	color:#661616;
}

.order_block form {
	margin-top:10px;
}

.order_block input.bttn {
	margin-top:7px;
}

.counts {
	height:117px;
	background:url(../images/counts.jpg) repeat-x center;
}

.count {
	float:left;
	height:80px;
	font-size:16px;
	line-height:18px;
	padding-top:5px;
	color:#fff;
	font-family:'pt_regular';
	text-shadow:0px 1px 1px #00243e;
	margin-top:25px;
}

.c1 {
	background:url(../images/c1.png) no-repeat left top;
	width:180px;
	padding-left:75px;
}

.c2 {
	background:url(../images/c2.png) no-repeat left top;
	width:130px;
	padding-left:175px;
	padding-top:0px;
}

.c3 {
	background:url(../images/c3.png) no-repeat left top;
	width:112px;
	padding-left:55px;
	padding-top:0px;
}

.c4 {
	background:url(../images/c4.png) no-repeat left top;
	width:153px;
	padding-left:85px;
}

h2 {
	font-size:48px;
	line-height:48px;
	color:#004a77;
	text-align:center;
	text-transform:uppercase;
	text-shadow:0px 1px 1px #fff;
	font-family:'pt_bold';
	letter-spacing:2px;
	margin-bottom:40px;
}

.reasons {
	background:#f3f3f3;
	padding:37px 0 20px 0;
}

.reasons h2 {
	font-size:35px;
	line-height:35px;
}

.reason {
	width:420px;
	float:left;
	color:#3b3b3b;
	font-size:17px;
	line-height:22px;
	margin-bottom:20px;
}

.rq {
	text-align:right;
	padding-right:70px;
	background:url(../images/rq.png) no-repeat 440px 5px;
}

.ra {
	text-align:left;
	padding-left:70px;
	background:url(../images/ra.png) no-repeat 18px 5px;
}

.ra span {
	display:block;
	text-transform:uppercase;
	color:#065c99;
	font-family:'pt_bold';
	margin:4px 0;
}

.order {
	height:426px;
	background:url(../images/order.jpg) no-repeat center;
	position:relative;
	z-index:2;
}

.order .wrap {
	height:426px;
	position:relative;
	text-align:center;
}

.order_img {
	width:656px;
	height:948px;
	position:absolute;
	background:url(../images/order_img.png) no-repeat center;
	left:-509px;
	top:-291px;
}

.order .timer_block {
	width:367px;
	height:236px;
	padding-top:30px;
	background:url(../images/timer_block1.png) no-repeat center top;
	padding-right:17px;
	left:200px;
	top:122px;
}

.order .timer_block span {
	font-size:30px;
	line-height:30px;
}

.order .timer_block .timer {
	margin:13px 0 0 43px;
}

.order .order_block {
	border-radius:15px;
	right:92px;
  top:122px;
  height:248px;
  
}

.order .order_block span {
	margin:3px 0 7px 0;
}

.order .order_block form {
	margin-top:13px;
}

.order .timer_block b {
	font-size:25px;
	line-height:27px;
	color:#000;
}

.offer {
	background:#ededed;
	padding:45px 0 25px 0;
}

.offer h2 {
	color:#ff9524;
	font-size:56px;
	line-height:56px;
	text-shadow:0px 2px 1px rgba(0,0,0,0.38), 2px 2px 0px #d27a03;
}

.offer_one {
	width:274px;
	float:left;
	text-align:center;
	margin-bottom:20px;
}

.offer_one span {
	display:block;
	color:#065c99;
	text-transform:uppercase;
	font-size:24px;
	font-family:'pt_bold';
	line-height:30px;
	margin-bottom:255px;
}

.offer_text {
	height:60px;
	width:257px;
	padding-top:10px;
	margin:0 auto 18px auto;
	border:#fff dashed 1px;
	background:rgba(255,255,255,0.8);
	color:#004a77;
	font-size:16px;
	line-height:16px;
	border-radius:5px;
}

.offer_text em {
	display:block;
	font-size:24px;
	line-height:28px;
	font-family:'pt_bold';
}

.o1 {
	background:url(../images/o1.png) no-repeat center 80px;
}

.o2 {
	background:url(../images/o2.png) no-repeat center 80px;
	margin:0 79px;
}

.o3 {
	background:url(../images/o3_1.png) no-repeat center 80px;
}

.o4 {
	background:url(../images/o4.png) no-repeat center 80px;
}

.o5 {
	background:url(../images/o5.png) no-repeat center 80px;
	margin:0 79px;
}

.o6 {
	background:url(../images/o6.png) no-repeat center 80px;
}

.o4 .offer_text em, .o5 .offer_text em, .o6 .offer_text em {
	line-height:55px;
}

.o6 .offer_text em {
	display:block;
	background:url(../images/o6_1.png) no-repeat 43px 9px;
	color:#ff8012;
	padding-left:40px;
}
.g1 {
	background:url(../images/g1.png) no-repeat center 80px;
}
.g2 {
	background:url(../images/g2.png) no-repeat center 80px;
	margin: 0 79px;
}
.g3 {
	background:url(../images/g3.png) no-repeat center 80px;
}
.g4 {
	background:url(../images/g4.png) no-repeat center 80px;
}
.g5 {
	background:url(../images/g5.png) no-repeat center 80px;
	margin:0 79px;
}
.g6 {
	background:url(../images/g6.png) no-repeat center 80px;
}

.o4 {
	background:url(../images/o4.png) no-repeat center 80px;
}

.o5 {
	background:url(../images/o5.png) no-repeat center 80px;
	margin:0 79px;
}

.o6 {
	background:url(../images/o6.png) no-repeat center 80px;
}

.offer_one a {
	display:block;
	width:274px;
	height:56px;
	line-height:51px;
	background:url(../images/oo_a.png) no-repeat 0px 0px;
	box-shadow:none;
	border:none;
	padding:0;
	font-size:17px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0px 1px 0px #a86f05;
	text-align:center;
}

.offer_one a:hover {
	color:#661616;
}

.offer a.offer_a {
	display:block;
	width:605px;
	height:67px;
	line-height:64px;
	background:url(../images/offer_a.png) no-repeat 0px 0px;
	box-shadow:none;
	border:none;
	padding:0;
	font-size:28px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0px 1px 0px #002353;
	text-align:center;
	margin:20px auto;
}

.offer a.offer_a:hover {
	color:#661616;
}

.why {
	background:url(../images/why1.jpg) no-repeat center top, url(../images/why2.jpg) no-repeat center 464px;
	height:887px;
	padding-top:50px;
}

.why h2 {
	color:#fff;
	font-size:44px;
	line-height:44px;
	text-shadow:0px 2px 1px rgba(0,0,0,0.38), 2px 2px 2px #d27a03;
	margin-bottom:50px;
}

.why_one {
	width:245px;
	float:left;
	text-align:center;
	padding-top:174px;
	color:#3b3b3b;
	font-size:18px;
	line-height:22px;
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
	margin-bottom:15px;
}

.why_one span {
	display:block;
	line-height:24px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
}

.w1 {
	background:url(../images/w1.png) no-repeat center top;
}

.w2 {
	background:url(../images/w2.png) no-repeat center 23px;
}

.w3 {
	background:url(../images/w3.png) no-repeat center 23px;
}

.w4 {
	background:url(../images/w4.png) no-repeat center 23px;
}

.w5 {
	background:url(../images/w5.png) no-repeat center 23px;
	margin-left:122px;
}

.w6 {
	background:url(../images/w6.png) no-repeat center 23px;
}

.w7 {
	background:url(../images/w7.png) no-repeat center 23px;
}

.price {
	background:#fff;
	padding:50px 0 15px 0;
}

.price h2 {
	color:#ff9524;
	font-size:56px;
	line-height:56px;
	text-shadow:0px 2px 1px rgba(0,0,0,0.38), 2px 2px 0px #d27a03;
	margin-bottom: 100px;
}

.price .wrap {
	position:relative;
	width:714px;
	height:550px;
	
}

.price_one {
	position:absolute;
	overflow:hidden;
	z-index:3;
}

.price_descr {
	position:absolute;
	padding:10px 0 5px 20px;
	font-size:18px;
	color:#000;
	line-height:24px;
	border-radius:5px;
	background:url(../images/price_descr.png);
	text-shadow:0px 1px 1px #fff;
	
	z-index: 10;
}

.price_one:hover {
	overflow:visible;
	z-index:1;
}

.price_one:hover .price_descr {
	opacity:1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.price_descr a {
	border-bottom:#065c99 dashed 1px;
	color:#065c99;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.price_descr a:hover {
	border-color:transparent;
}

.pd {
	position:absolute;
}

.price .wrap:hover .prv {
	opacity:0;
	z-index:1;
}

.zr1 .pd {
	width: inherit;
	height:41px;
	bottom:-41px;
	left:-10px;
	background:url(../images/pd.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr1 .pd {
	
	width: inherit;
	height: 41px;
	bottom: -41px;
	left: -10px;
	background:url(../images/pd1.png) no-repeat center;
}

.pr2 .pd {
	width: inherit;
	height:68px;
	bottom:-68px;
	left: -20px;
	background:url(../images/pd2.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr3 .pd {
	width: inherit;
	height:91px;
	top:-91px;
	left: 10px;
	background:url(../images/pd3.png) no-repeat center;
}

.pr4 .pd {
	width: inherit;
	height:54px;
	bottom:100%;
	left: 38px;
	background:url(../images/pd4.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr5 .pd {
	width: inherit;
	height:54px;
	bottom:100%;
	right: -110px;
	background:url(../images/pd4.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr6 .pd {
	width: inherit;
	height:41px;
	top: 100%;
	left: 38px;
	background:url(../images/pd1.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr7 .pd {
	width: inherit;
	height:79px;
	bottom:-79px;
	left: 13px;
	background:url(../images/pd7.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.pr8 .pd {
	width: inherit;
	height:70px;
	bottom:100%;
	right: -50px;
	background:url(../images/pd3.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.prv {
	width:264px;
	height:238px;
	left:12px;
	top:-3px;
	opacity:1;
	z-index:3;
	background:url(../images/pr1.png)/***css-loader:: can't load recource***/ no-repeat 5px 100px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.prv .pd {
	width:34px;
	height:41px;
	bottom:-41px;
	left:85px;
	background:url(../images/pd1.png)/***css-loader:: can't load recource***/ no-repeat center;
}

.prv .price_descr {
	width:225px;
	opacity:1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.prv .price_descr {
	left:0px;
	top:0px;
}
.zr1 .price_descr {
	width:225px;
	top: -75px;
	left: 12px;
	display: none;
}

.pr1 .price_descr {
	width:225px;
	top:-75px;
	left: 12px;
	display: none;
}

.pr2 .price_descr {
	width:225px;
	top: -53px;
	left: 382px;
	display: none;
}

.pr3 .price_descr {
	width:305px;
	top:264px;
	left:-104px;
	display: none;
}

.pr4 .price_descr {
	width:270px;
	top:330px;
	left:65px;
	display: none;
}

.pr5 .price_descr {
	width:280px;
	top: 367px;
	left: 172px;
	display: none;
}

.pr6 .price_descr {
	width:230px;
	top: -30px;
	left: -138px;
	display: none;
}

.pr7 .price_descr {
	width:230px;
	top: -12px;
	left: -135px;
	display: none;
}

.pr8 .price_descr {
	width:230px;
	top: 466px;
	left: 398px;
	display: none;
}

.price div.price_a {
	display:block;
	width:86px;
	height:40px;
	line-height:35px;
	font-size:14px;
	text-transform:uppercase;
	font-family:'pt_bold';
	text-shadow:0px 1px 0px #a86f05;
	text-align:center;
	color:#fff;
	letter-spacing:1px;
	background:url(../images/auto_bttns.png) no-repeat 0px 0px;
	position:absolute;
	z-index:4;
}
.zr1 {
	left:550px;
	top:182px;
}
.pa1 {
	left:85px;
	top:60px;
}

.pa2 {
	left:390px;
	top:110px;
}

.pa3 {
	left:60px;
	top:142px;
}

.pa4 {
	left:240px;
	top:242px;
}

.pa5 {
	left:450px;
	top:287px;
}

.pa6 {
	left:-20px;
	top:107px;
}

.pa7 {
	right:60px;
	bottom:152px;
}

.order_photo {
	height:426px;
	background:url(../images/order2.jpg) no-repeat center;
	position:relative;
	z-index:2;
}

.order_photo .wrap {
	height:426px;
	position:relative;
}

.order_img2 {
	width:632px;
	height:798px;
	position:absolute;
	background:url(../images/order_img2.png) no-repeat center;
	left:857px;
	top:-151px;
}

.upload {
	display: none;
}

.order_block2 {
	width:360px;
	height:260px;
	padding-top:23px;
	background:rgba(255,255,255,0.8);
	border-radius:15px;
	position:absolute;
	left:310px;
	top:74px;
	color:#16639d;
	font-family:'pt_bold';
	text-transform:uppercase;
	font-size:19px;
	line-height:19px;
	text-align:center;
}

.order_block2 span {
	display:block;
	font-size:26px;
	line-height:26px;
	margin-bottom:5px;
}

.order_block2 form {
	margin-top:15px;
}

.order_block2 input[type="text"] {
	width:251px;
}

.order_block2 input.bttn,
.modal.photo input.bttn {
	width:316px;
	height:75px;
	font-size:22px;
	font-family:'pt_regular';
	background:url(../images/bttn2.png) no-repeat center bottom;
	text-shadow:0px 1px 0px #003378;
	letter-spacing:0;
}

.modal.photo .up {
	width: 91px;
	height: 50px;
	font-family:'pt_regular';
	font-size:14px;
	color: #3f3f3f;
	position: relative;
	margin-right: 30px;
	padding-top: 50px;
	background: #ececec url(../images/order_photo1.png) center 28px no-repeat;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
	cursor: pointer;
}

.modal.photo .up_wrapp {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 91px;
	height: 100px;
	margin-right: 30px;
}

.modal.photo .up_wrapp.last {
	margin-right: 0px;
}

.modal.photo .up.uploaded {
	cursor: default;
	background: #ececec;
	margin: 0px 30px 0px 0px;
	padding: 50px 0px 0px 0px;
	
}

.modal.photo .img_upload {
	position: absolute;
	
	height: 50px;
	width: 50px;
	top: 24px;
	left: 25px;
	background: url('../images/gale1.png') no-repeat;
}

.modal.photo .up .img_upload {
	opacity: 0;
}

.modal.photo .up.uploaded .img_upload {
	opacity: 1;
}

.modal.photo .up.uploaded em {
	display: none;
}

.up_remove.active {
	position: absolute;
	opacity: 0;
	top: 0px;
	right: 0px;
	width: 91px;
	height: 100px;
	cursor: pointer;
	font-size: 27px;
	font-weight: bolder;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-family: 'pt_bold';
	z-index: 2;
}

.up_remove {
	display: none;
}


.up_remove.active:hover {
	position: absolute;
	opacity: 1;
	top: 0px;
	right: 0px;
	width: 91px;
	height: 100px;
	cursor: pointer;
	font-size: 27px;
	font-weight: bolder;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-family: 'pt_bold';
	z-index: 2;
}

.up_remove.active:after {
	content: 'очистить';
	color: #fff;
	font-family:'din_light';
	font-size: 18px;
	padding-top: 70px;
	display: block;
	font-weight:normal;
}

.up_remove b {
	position: absolute;
	top: 5px;
	right: 7px;
}

.modal.photo .up em {
	text-align: center;
	
	display: block;
}



.hww {
	background:#fff;
	padding:45px 0;
}

.hww h2 {
	margin-bottom:55px;
}

.hww .wrap {
	position:relative;
	height:315px;
	background:url(../images/hww.png) no-repeat center 115px;
}

.hww_one {
	font-size:16px;
	color:#3b3b3b;
	line-height:18px;
	text-align:center;
}

.hww_one span {
	display:block;
	text-transform:uppercase;
	color:#065c99;
	font-size:22px;
	font-family:'pt_bold';
	line-height:22px;
}

.hww_text {
	padding:15px 0 5px 0;
	border-radius:5px;
	border:#f1bd5a dashed 1px;
}

.hww_text span {
	font-size:26px;
	line-height:26px;
}
.ht {
	padding-bottom:65px;
}

.h1 {
	position:absolute;
	width:240px;
	top:102px;
	padding-top:43px;
}

.h2 {
	position:absolute;
	width:310px;
	top:1px;
	left:130px;
}

.h3 {
	position:absolute;
	width:305px;
	top:103px;
	left:340px;
}

.h4 {
	position:absolute;
	width:220px;
	top:1px;
	left:590px;
}

.h5 {
	position:absolute;
	width:160px;
	top:103px;
	right:45px;
}

.hww a {
	display:block;
	width:224px;
	height:55px;
	line-height:51px;
	background:url(../images/hww_a.png) no-repeat 0px 0px;
	font-size:20px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0px 1px 0px #a86f05;
	text-align:center;
	margin:10px auto 0 auto;
}

.hww a:hover {
	color:#661616;
}

.reviews {
	background:#eaeaea;
	padding:40px 0 20px 0;
}

.reviews h2 {
	letter-spacing:4px;
	margin-bottom:45px;
}

.review {
	width:785px;
	border-radius:6px;
	background:#fff;
	padding:18px 20px 20px 35px;
	margin:0 0 55px 130px;
	position:relative;
	color:#3b3b3b;
	font-size:16px;
	line-height:20px;
	z-index:2;
}

.review p {
	margin-bottom:7px;
}

.review span {
	display:block;
	font-size:20px;
	color:#065c99;
	font-family:'pt_boldit';
	text-align:center;
	line-height:24px;
	margin-bottom:10px;
}

.review_img {
	width:140px;
	height:141px;
	position:absolute;
	top:5px;
}

.r2, .r4 {
	margin:0 0px 55px 10px;
}

.review_name {
	background:#ffb001;
	position:absolute;
	height:37px;
	border-radius:6px;
	line-height:43px;
	bottom:-31px;
	padding:0 17px 0 15px;
	z-index:1;
	color:#fff;
	font-family:'pt_boldit';
	font-size:16px;
	text-shadow:0px 1px 1px #ab7000;
}

.rn {
	width:23px;
	height:31px;
	position:absolute;
}

.rnn {
	width:380px;
	height:6px;
	position:absolute;
	top:0px;
	background:#fff;
}

.r2, .r4 {
	padding:18px 35px 20px 20px;
}

.r1 .review_img {
	background:url(../images/r1.png) no-repeat center;
	left:-120px;
}

.r2 .review_img {
	background:url(../images/r2.png) no-repeat center;
	right:-120px;
}

.r3 .review_img {
	background:url(../images/r3.png) no-repeat center;
	left:-120px;
}

.r4 .review_img {
	background:url(../images/r4.png) no-repeat center;
	right:-120px;
}

.r1 .review_name, .r3 .review_name {
	left:0px;
}

.r2 .review_name, .r4 .review_name {
	right:0px;
}

.r1 .rn, .r3 .rn {
	right:-20px;
	top:6px;
	background:url(../images/rn1.png) no-repeat center;
}

.r2 .rn, .r4 .rn {
	left:-20px;
	top:6px;
	background:url(../images/rn2.png) no-repeat center;
}

.r1 .rnn, .r3 .rnn {
	border-radius:0px 0px 0px 7px;
	left:0px;
}

.r2 .rnn, .r4 .rnn {
	border-radius:0px 0px 7px 0px;
	right:0px;
}

.projects {
	padding:30px 0 15px 0;
	background:#f1f1f1 url(../images/projects.jpg);
}

.project {
	width:860px;
	margin:0 auto 30px auto;
}

.project_name {
	text-align:center;
	color:#5b5b5b;
	font-size:33px;
	line-height:33px;
	letter-spacing:1px;
	margin-bottom:10px;
}

.project_img {
	width:860px;
	height:271px;
	margin-bottom:10px;
}

.project_text {
	width:820px;
	padding:13px 0 15px 36px;
	border-radius:15px;
	border:#065c99 dashed 2px;
	color:#919191;
	font-family:'pt_italic';
	font-size:18px;
	line-height:22px;
	background:#fff;
}

.project_text span {
	display:block;
	font-family:'pt_bold';
	margin:0 0 0px 11px;
	font-size:20px;
	color:#3b3b3b;
	text-align:center;
}

.pt_col {
	color:#3b3b3b;
	float:left;
	font-family:'pt_regular';
}

.p1 .pt_col {
	width:370px;
}

.p1 .ptc {
	margin-right:80px;
}

.p2 .pt_col {
	width:270px;
}

.p2 .ptc {
	margin-right:80px;
}

.p3 .pt_col {
	width:270px;
	margin-bottom:10px;
}

.p4 .pt_col {
	width:270px;
}

.p5 .pt_col {
	width:270px;
}

.p6 .pt_col {
	width:270px;
}


.project_det {
	width:720px;
	border-radius:0 0 15px 15px;
	border:#fff dashed 2px;
	border-top:none;
	margin:0 auto;
	height:57px;
	font-size:25px;
	color:#3b3b3b;
	line-height:57px;
}

.project_date {
	float:left;
	width:325px;
	padding-left:35px;
	margin-left:20px;
	background:url(../images/project_date.png) no-repeat left;
}

.project_price {
	float:right;
	width:205px;
	padding-left:45px;
	margin-right:20px;
	background:url(../images/project_price.png) no-repeat left;
}

.project_det em {
	font-family:'pt_bold';
	color:#065c99;
}

.p3 .project_price {
	width:205px;
}

.p1 .project_img {
	background:url(../images/p1.jpg) no-repeat center;
}

.p2 .project_img {
	background:url(../images/p2.jpg) no-repeat center;
}

.p3 .project_img {
	background:url(../images/p3.jpg) no-repeat center;
}

.p4 .project_img {
	background:url(../images/p3.jpg)/***css-loader:: can't load recource***/ no-repeat center;
}

.p5 .project_img {
	background:url(../images/p3.jpg)/***css-loader:: can't load recource***/ no-repeat center;
}

.p6 .project_img {
	background:url(../images/p3.jpg)/***css-loader:: can't load recource***/ no-repeat center;
}

.contacts {
	background:url(../images/contacts.jpg) no-repeat center;
	height:270px;
	position:relative;
	z-index:3;
}

.contacts h2 {
	text-align:left;
	float:left;
	width:515px;
	font-size:83px;
	color:#fff;
	line-height:100px;
	margin:40px 0 0 10px;
	text-shadow:0px 3px 1px rgba(0,0,0,0.18), 0px 4px 0px #f1ba6f;
}

.contacts h2 em {
	font-size:110px;
}

.manager {
	float:left;
	background:url(../images/manager.png) no-repeat center top;
	padding-top:182px;
	width:156px;
	margin:20px 0 0 0;
	color:#3b3b3b;
	font-size:18px;
	line-height:22px;
	text-align:center;
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
}

.contacts_text {
	width:277px;
	float:right;
	margin-top:45px;
}

.contacts_text span {
	display:block;
	padding-left:25px;
	background:url(../images/contacts_text.png) no-repeat left 5px;
	font-size:18px;
	color:#3b3b3b;
	line-height:22px;
	margin-bottom:8px;
}

.contacts_phone {
	width:266px;
	height:80px;
	padding-top:14px;
	background:url(../images/contacts_phone.png) no-repeat center;
	text-align:center;
	color:#fff;
	font-size:26px;
	font-family:'pt_bold';
	text-shadow:0px 1px 0px #a86f05;
}

.contacts_phone a.mc {
	display:inline-block;
	width:235px;
	height:47px;
	background:url(../images/cp_mc.png) no-repeat center;
	font-size:18px;
	line-height:41px;
	text-align:center;
	color:#fff;
	text-shadow:0px 1px 0px #002353;
	font-family:'pt_bold';
	text-transform:uppercase;
	margin:5px auto 0 auto;
}

.contacts_phone a.mc:hover {
	color:#661616;
}

.maps {
	height:600 px;
}

.maps .wrap {
	position:relative;
	height:600px;
}

.map_block {
	position:absolute;
	background:#fff;
	border-radius:6px;
	width:400px;
	height:220px;
	padding:11px 15px 0 15px;
	color:#3b3b3b;
	font-size:20px;
	line-height:30px;
	left:422px;
	top:47px;
}

.mb {
	position:absolute;
	width:26px;
	height:26px;
	bottom:-26px;
	left:33px;
	background:url(../images/mb.png) no-repeat center;
}

.any_q {
	background:#fff;
	padding:70px 0;
	font-family:'din_light';
}

.any_q h2 {
	font-family:'din_light';
	font-size:88px;
	color:#3b3b3b;
	float:left;
	width:720px;
	margin:0 10px 0 20px;
	text-shadow:none;
	text-align:left;
	letter-spacing:0;
}

.any_q h2 em {
	color:#004a77;
}

.any_q a {
	display:block;
	float:left;
	font-size:26px;
	line-height:26px;
	color:#e7082f;
	border-bottom:#e7082f dashed 1px;
	margin-top:15px;
}

.any_q a:hover {
	border-color:transparent;
}

footer {
	height:113px;
	background:url(../images/footer.jpg) repeat-x center;
	border-top:#023c65 solid 2px;
	font-family:'din_light';
}

.f_phone {
	width:230px;
	float:left;
	font-size:32px;
	line-height:20px;
	color:#ffa400;
	text-align:right;
	margin:33px 0px 0 0;
	text-shadow:0px 1px 0px #013e69;
}

.f_phone a.mc {
	display:inline-block;
	font-size:18px;
	line-height:18px;
	border-bottom:#fff dashed 1px;
	color:#fff;
}

.f_phone a.mc:hover {
	border-color:transparent;
}

a.copyright {
	display:block;
	float:right;
	padding-right:107px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin:27px 10px 0 0;
	text-shadow:0px 1px 0px #013e69;
	background:url(../images/fine-logo.png) no-repeat right;
}

a.conf {
	display:inline-block;
	float:left;
	margin:50px 0 0 105px;
	color:#fff;
	font-size:18px;
	line-height:14px;
	font-family:'pt_bold';
	text-transform:uppercase;
	border-bottom:#fff dashed 1px;
}

a.conf:hover {
	border-color:transparent;
}

#lean_overlay {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #fff;
	display: none;
}

.modal {
	width:auto;
	margin:0 auto;
	display:none;
	color:#131313;
	background:#636363 url(../images/modal.jpg) no-repeat center;
	width:100%;
	padding:40px 0;
}

.modal-box {
	width:590px;
	padding:30px 20px 20px 20px;
	margin:0 auto;
	background:#fff;
	position:relative;
	border-radius:10px;
	text-align:center;
	box-shadow:0px 4px 7px rgba(20,29,33,0.29);
}

.modal-title {
	font-size:26px;
	line-height:26px;
	text-align:center;
	margin-bottom:18px;
	font-family:'pt_bold';
	text-transform:uppercase;
	color:#065c99;
}

.modal-title span {
	font-size:18px;
	line-height:18px;
	display:block;
	margin-top:9px;
	color:#000;
	text-transform:none;
	font-family:'pt_regular';
}

.modal input[type="text"] {
	width:225px;
	height:40px;
	line-height:40px;
	border:none;
	border-radius:5px;
	margin:0 10px 10px 10px;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.4);
}

.modal input.input_name {
	background:#ececec url(../images/mi_name.png) no-repeat 11px;
}

.modal input.input_phone {
	background:#ececec url(../images/mi_phone.png) no-repeat 9px;
}

.modal input.input_email {
	background:#ececec url(../images/mi_email.png)/***css-loader:: can't load recource***/ no-repeat 11px;
}

.modal input.bttn {
	margin-top:10px;
}

.makeorder .modal-box {
	width:274px;
	padding-top:15px;
}

.makeorder .modal-title {
	margin-bottom:10px;
}

.makeorder .modal-title span {
	margin-top:5px;
}
.form_left {
	float:left;
	width:270px;
	margin-left:15px;
}

.form_left input[type="text"] {
	width:225px;
	margin:0 0 10px 0;
}

.form_right {
	float:right;
	width:270px;
	margin-right:15px;
}

textarea {
	width:250px;
	height:119px;
	border:none;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.4);
	margin-bottom:10px;
	background:#ececec;
	border-radius:5px;
	padding:10px;
	font-size:18px;
	color:#3b3b3b;
	font-family:'pt_regular';
	resize:none;
}

.scale {
	transition: all 1s ease; opacity: 0.01; transform: scale(0.5, 0.5);
}

.fade {
	transition: all 0.5s ease; opacity: 0.01;
}




input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { opacity:1; }
input::-moz-placeholder, textarea::-moz-placeholder { opacity:1; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity:0; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { opacity:0; }




label {  display:inline-block; position:relative; }
label:before, label:after { display:block; opacity:0; position:absolute; visibility:hidden; z-index:9998; font-family: 'bliss-light'; }
label:before { content:''; height:0; line-height:0; position:absolute; }
label:after {  color:#fff; content:attr(data); cursor:pointer; font-size:12px; height:20px;
background: #ff6868;
background: -moz-linear-gradient(top,  #ff6868 0%, #d80000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6868), color-stop(100%,#d80000));
background: -webkit-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: -o-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: -ms-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: linear-gradient(to bottom,  #ff6868 0%,#d80000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6868', endColorstr='#d80000',GradientType=0 );
 }
label:after { line-height:10px; padding:11px 11px 0; white-space:nowrap; border-radius: 4px; }
label:after:focus { visibility:hidden; opacity:0; }

label.right:before { z-index: 9999; border-top:solid 5px transparent; border-bottom:solid 5px transparent; border-right: 5px solid #ec3434; left:101%; top:50%; margin: -5px 0 0 0; width:0px; height: 0px; }
label.right:after { border-left:solid 1px #f00; left:100%; margin:-16px 0 0 6px; top:50%; }

label.left:before { z-index: 9999; border-top:solid 5px transparent; border-bottom:solid 5px transparent; border-left: 5px solid #ec3434;  right:101%; top:50%; margin: -5px 0 0 0; width:0px; height: 0px; }
label.left:after { border-right:solid 1px #f00; right:100%; margin:-16px 7px 0 0; top:50%; }

label.top:before { z-index: 9999; border-left:solid 5px transparent; border-right:solid 5px transparent; border-top: 5px solid #D80000; height:0px; width: 0px; left:50%; top:-14px; }
label.top:after {  bottom:129%; left:15%; }

label.bottom:before { z-index: 9999; border-left:solid 5px transparent; border-right:solid 5px transparent; border-bottom: 5px solid #fe6666; height:0px; width: 0px; left:50%; bottom:-11px; }
label.bottom:after {  top:129%; left:15%; }

label.red input, label.red textarea { border:solid 1px #f00; }
label.red:before, label.red:after { visibility:visible; opacity:1; }




.tpage {
	width:100%;
	height:100%;
	background:#e1e1e1;
	position:absolute;
}

.tpage_block {
	position:absolute;
	width:100%;
	top:200px;
	left:0;
	text-align:center;
	color:#0d64a1;
	font-size:20px;
	font-family:'pt_regular';
	line-height:20px;
}

.tpage_block span {
	display:block;
	font-size:30px;
	line-height:30px;
	font-family:'pt_bold';
	margin-bottom:15px;
}

.tpage_block a {
	display:block;
	width:274px;
	height:60px;
	line-height:57px;
	background:url(../images/tpage_a.png)/***css-loader:: can't load recource***/ no-repeat center;
	font-size:20px;
	font-family:'pt_bold';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0px 1px 0px #a86f05;
	text-align:center;
	margin:65px auto 0 auto;
}

.tpage_block a:hover {
	color:#661616;
}

.tpage header {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	box-shadow:0px 50px 50px rgba(0,0,0,0.07);
}

.tpage footer {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
}



map {
	width: 714px;
	height: 482px;
	display: block;
}

.price .wrap {
	line-height: 0;
	position: relative;
}

.price_a {
	cursor: default;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}